body{
 background-color: #c1bdba;


}

.centro{
  background-color: #24323d;
  height: 300px;
  width: 500px;
  position: absolute;
  top: 30%;
  left: 35%;
}

.botones{
  width: 400px;
  height: 60px;
  position: absolute;
  top: 46%;
  left:10%;
}

.Boton1{
  background: transparent;
  border: 2px solid #0099CC;
  width: 100px;
  height: 50px;
  left: 0px;
  transition: all .5s ease;
}
.Boton1:hover{
  transform: scale(1.2,1.2);
  background: white;
}

.Boton2{
  background: transparent;
  border: 2px solid #0099CC;
  width: 100px;
  height: 50px;
  position: absolute;
  right: 0px;
  transition: all .5s ease;
}
.Boton2:hover{
  transform: scale(1.2,1.2);
  background: white;
}


.Boton3{
  position: absolute;
  text-align: center;
  background: transparent;
  border: 2px solid #0099CC;
  width: 100px;
  height: 50px;
  right:  37%;
  transition: all .5s ease;
}
.Boton3:hover{
  transform: scale(1.2,1.2);
  background: white;
}
