body{
 background-color: #c1bdba;


}

.centro{
  background-color: #24323d;
  height: 600px;
  width: 500px;
  position: absolute;
  top: 20%;
  left: 35%;
}
h1{
  text-align: center;
  color: white;
}

.botones{

  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 50%;
  left:40%;
}


.Boton2{
  background: transparent;
  border: 2px solid #0099CC;
  width: 100px;
  height: 50px;
  position: absolute;
  right: 0px;
  transition: all .5s ease;
}
.Boton2:hover{
  transform: scale(1.2,1.2);
  background:  white;
